.centerblockH2 {
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 72px;
  letter-spacing: -0.8px;
  margin-bottom: 45px;
}

.centerblockFilter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 51px;
  gap: 10px;
}

.filterTitle {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-right: 5px;
}

.filterButton {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #ffffff;
  border-radius: 60px;
  padding: 6px 20px;
  margin-bottom: 10px;
}

/* .filterButton:not(:last-child) {
  margin-right: 10px;
} */

._btnText:hover {
  border-color: #d9b6ff;
  color: #d9b6ff;
  cursor: pointer;
}

._btnText:active {
  border-color: #ad61ff;
  color: #ad61ff;
  cursor: pointer;
}

.activ {
  border-color: #ad61ff;
  color: #ad61ff;
}

.modal {
  border-radius: 12px;
  background: rgb(49, 49, 49);
  padding: 34px;
  position: absolute;
  
}

.filterModal {
  max-height: 237px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  overflow-y: auto;
}

.filterModal::-webkit-scrollbar {
  width: 4px;
  background-color: #4B4949;
  border-radius: 10px;
}

.filterModal::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #FFFFFF;
}



.modalItem {
  color: rgb(255, 255, 255);
font-family: "StratosSkyeng", sans-serif;
font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
margin-right: 7px;
}
